/*@import url('https://fonts.googleapis.com/css?family=Roboto:500&subset=cyrillic');*/
@font-face { 
font-family: 'Roboto-Black'; 
src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), 
url('../fonts/Roboto/Roboto-Black.woff') format('woff'), 
url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'), 
url('../fonts/Roboto/Roboto-Black.svg#Roboto-Black') format('svg'); 
font-weight: normal; 
font-style: normal; 
}


@font-face { 
	font-family: 'Roboto-BlackItalic'; 
	src: url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-Bold'; 
	src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-BoldCondensed'; 
	src: url('../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-BoldCondensed.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-BoldCondensed.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-BoldCondensedItalic'; 
	src: url('../fonts/Roboto/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-BoldCondensedItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-BoldCondensedItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-BoldCondensedItalic.svg#Roboto-BoldCondensedItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-BoldItalic'; 
	src: url('../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-Condensed'; 
	src: url('../fonts/Roboto/Roboto-Condensed.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-Condensed.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-Condensed.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-Condensed.svg#Roboto-Condensed') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-CondensedItalic'; 
	src: url('../fonts/Roboto/Roboto-CondensedItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-CondensedItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-CondensedItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-CondensedItalic.svg#Roboto-CondensedItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-Italic'; 
	src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-Italic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-LightItalic'; 
	src: url('../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
 font-family: 'Roboto-Medium'; 
 src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
 url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), 
 url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), 
 url('../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg'); 
 font-weight: normal; 
 font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-MediumItalic'; 
	src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-Regular'; 
	src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-Thin'; 
	src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-Thin.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Roboto-ThinItalic'; 
	src: url('../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), 
	url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), 
	url('../fonts/Roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?4251556');
  src: url('../fonts/fontello/fontello.eot?4251556#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?4251556') format('woff2'),
       url('../fonts/fontello/fontello.woff?4251556') format('woff'),
       url('../fonts/fontello/fontello.ttf?4251556') format('truetype'),
       url('../fonts/fontello/fontello.svg?4251556#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4251556#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
	font-size: 15px;
	line-height: 30px;
	font-family:  "Roboto-Medium", "Roboto-Black", "Roboto-BlackItalic", "Roboto-Bold", "Roboto-BoldCondensed",
	 "Roboto-BoldCondensedItalic", "Roboto-BoldItalic", "Roboto-Condensed", "Roboto-CondensedItalic",
	 "Roboto-Italic", "Roboto-LightItalic", "Roboto-MediumItalic", "Roboto-Regular",
	 "Roboto-Thin", "Roboto-ThinItalic", "Arial", sans-serif;
}

.container	{
	margin: 0 auto;
	width: 880px;
	padding: 0 10px;
	/*outline: 1px solid red;*/
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.button	{
	display: inline-block;
	text-decoration: none;
	background-color: #fb565a;
	color: white;
	width: 138px;
	padding: 0;
	text-align: center;
	vertical-align: top;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 0;
	margin: 0;
	line-height: 22px; 
}

.hide {
	display: none;
}

/* start-header */

.header {
	background-color: #eeeeee;
	padding-bottom: 30px;

}

.header-logo {
	float: left;
	margin-top: 32px;
	width: 139px;
	height: 56px;
	margin-bottom: 10px;
	margin-right: 180px;
}

.header-logo img {
	width: 139px;
	height: 56px;
}

.header-main-nav {
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 60px;
	max-width: 440px;
}

.header-main-nav li {
	list-style: none;
	float: left;
	text-decoration: none;
	margin-bottom: 10px;
	margin-right: 45px;
	text-transform: uppercase;
	color: black;
}

.header-main-nav li:nth-child(4n+4) {
	margin-right: 0;
}

.header-top-menu-truck {
	float: right;
	margin-bottom: 10px;
	margin-top: 60px;
	text-transform: uppercase;
	color: black;
}

.icon-basket {
	color: #a6a6a6;
	margin-right: 10px;
}

.header-main-nav a,
.header-top-menu-truck a {
	text-decoration: none;
	color: black;
}

.header-main-nav a:hover,
.header-top-menu-truck a:hover {
	color: #fb565a;
}

.header-main-nav a:active,
.header-top-menu-truck a:active {
	color: #a8a8a8;
}

.header-top-menu-truck a:hover i {
	color: #fb565a;
}

.header-top-menu-truck a:active i {
	color: #a8a8a8;
}



/* end-header */

/* start-slider */

.slider {
	background-color: #eeeeee;
	
}

.slider-info {
	float: left;
	margin: 0;
	margin-top: 20px;
	width: 470px;
	margin-right: 70px;
	
}

.slider-title {
	line-height: 36px;
	font-size: 36px;
	margin: 0;
	padding: 0;	
	margin-bottom: 20px;
}

.slider-text {
	line-height: 22px;
	font-size: 16px;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;	
}

.slider-image {
	float: left;
	width: 340px;
	height: 320px;
}

.slider-image-calc img{
	margin-left: 110px;
	margin-top: 5px;
	width: 230px;
	height: 249px;
}

.slider-image-robot {
	width: 333px;
	height: 319px;
}

.slider-button {
	float: left;
	width: 238px;
	margin-bottom: 30px;
	margin-right: 166px;
}

.slider-button-radio {
	position: relative;
}

.slider-switcher {
	float: left;
	margin-top: 5px;
}

.slider-indicator-adaptive {
	position: absolute;
	left: 407px;
	bottom: 36px;
}

.slider-indicator-calc {
	position: absolute;
	left: 426px;
	bottom: 36px;
}

.slider-indicator-robot {
	position: absolute;
	left: 445px;
	bottom: 36px;

}

.slider-button:hover {
	background-color: #d6494d;
	border-color: #d6494d;

}

.slider-button:active {
	background-color: #b63538;
	border-color: #b63538;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
 }

/* end-slider */

/* start-order */

.order {
	padding-top: 50px;
}

.order-item {
	height: 300px;
	font-size: 14px;
	line-height: 22px;
	width: 240px;
	float: left;
	margin-top: 30px;
	margin-bottom: 80px;
	margin-right: 80px;
}


.order-item:nth-child(3n+3) {
	margin-right: 0px;
}

.order-item-image {
	width: 240px;
	height: 124px;
	position: relative;
}

.order-item-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.order-item--red .order-item-image {
	background-color: #fb565a;
}

.order-item--green .order-item-image {
	background-color: #00ca74;
}

.order-item--orange .order-item-image {
	background-color: #efc84a;
}

.button-order--red:hover {
	background-color: #d6494d;
	border-color: #d6494d;
}

.button-order--red:active {
	background-color: #b63538;
	border-color: #b63538;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
 }

 .button-order--green:hover {
	background-color: #01a25e;
	border-color: #01a25e;
}

.button-order--green:active {
	background-color: #009053;
	border-color: #009053;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
 }

  .button-order--orange:hover {
	background-color: #d6ae2c;
	border-color: #d6ae2c;
}

.button-order--orange:active {
	background-color: #c09b24;
	border-color: #c09b24;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
 }

.order-item-title {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	margin-top: 23px;
	margin-bottom: 11px;
}

.order-item-text {
	margin: 0;
	line-height: 22px;
	font-size: 14px;
	margin-bottom: 30px;
}

.order-item--green a {
	background-color: #00ca74;
	border-color: #00ca74;
}

.order-item--orange a {
	background-color: #efc84a;
	border-color: #efc84a;	
}

.order:after {
	display: block;
	content: "";
	border-top: 2px	solid lightgrey;
	width: 880px;
	margin: 0 auto;
}
/* end-order */

/* start-about-us */

.about-us-info {
	width: 575px;
	margin-bottom: 25px;
	margin-right: 0;
	float: left;
}

.about-us-title {
	line-height: 36px;
	font-size: 36px;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 70px;
}

.about-us-text {
	font-size: 15px;
	line-height: 22px;
	padding: 0;
	
}

.about-us-logo {
	position: relative;
	float: right;
	margin-right: 30px;
	margin-top: 59px;
	
}

.image-logo {
	width: 187px;
	height: 75px;
	
}

.logo-text {
	margin-top: 10px;
	margin-left: 29px;
	
}

.logo-text p {
	display: inline-block;
	background-color: white;
	min-width: 112px;
	text-align: center;
	
}

.logo-text p:after {
	content: "";
	display: block;
	border-bottom: 2px solid lightgrey;
	width: 240px;
	position: absolute;
	top: 113px;
	right: -20px;
	z-index: -2;
}

/* end-about-us */

/* start-our-work */

.our-work-job {
	float: left;
	width: 460px;
	margin: 0;
	padding: 0;
	margin-right: 180px;
}

.our-work-how {
	float: left;
	width: 240px;
	margin: 0;
	padding: 0;
	
}

.our-list {
	list-style: none;
	margin: 0;
	margin-bottom: 73px;
}



.our-list li {
	padding: 0;
	margin: 0;
	font-size: 16px;
	margin-bottom: 28px;
	position: relative;
	margin-left: 37px;
	line-height: 22px;
	font-size: 16px;
}

.our-list li:before {
	content: "";
	width: 25px;
	display: block;
	margin-right: 10px;
	border-bottom: 2px solid red;
	position: absolute;
	top: 9px; 
	left: -35px;

}

.our-job-title,
.our-how-title {
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 32px;
	line-height: 22px;
	font-size: 16px;
}

.our-work:after {
	display: block;
	content: "";
	border-bottom: 2px	solid lightgrey;
	width: 880px;
	margin: 0 auto;
}

/*end-our-work*/

/*start-partners*/

.partners-logo {
	margin-bottom: 85px; 
}

.partners-logo a {
	margin-right: 100px;
	width: 225px;
	height: 165px;
	position: relative;
}

.partners-logo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.partners-logo a:nth-child(3n+3) {
	margin-right: 0;
}

.partners-logo img {
	opacity: 0.2;
}

.partners-glukhanko {
	float: left;
}

.partners-glukhanko img:hover {
	opacity: 1;
}

.partners-academy {
	float: left;
}

.partners-academy img:hover {
	opacity: 1;
}


.partners-borodinski {
	float: left;
}

.partners-borodinski img:hover {
	opacity: 1;
}

.partners-logo:after	{
	display: block;
	content: "";
	border-bottom: 2px solid lightgrey;
	width: 880px;
	margin: 0 auto;
}

/*end-partners*/

/*start-map*/

.map {
	margin: 0 auto;
	background-image: url("../img/map1.png");
	background-color: #e9e5dc;
	height: 415px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.map .container {
	height: 415px;

}
.map-info	{
	margin-top: 87px;
	float: left;
	width: 204px;
	background-color: white;
	padding-bottom: 26px;
	padding-left: 18px;
	padding-right: 18px;
}

.map-button {
	width: 195px;
	cursor: pointer;
}

.map-button:hover {
	background-color: #d6494d;
	border-color: #d6494d;
}

.map-button:active {
	background-color: #b63538;
	border-color: #b63538;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
}

.map-info .map-title {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase; 
	margin: 0;
	margin-top: 26px;
	margin-bottom: 15px;
}

.map-text,
.map-phone {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	 
}

.map-text {
	margin-bottom: 20px;
}

.map-phone {
	margin-bottom: 25px;
}

.container-map {
	position: relative;
}


/*end-map*/

/*start-footer*/

.footer-social-list {
	list-style: none;
	float: left;
	width: 240px;
	margin: 0;
	padding: 0;
	margin-top: 77px;
	margin-bottom: 65px;
}

.footer-social-list li {
	margin-bottom: 12px;
	float: left;
	margin-right: 30px;
}

.footer-social-list li:nth-child(3n+3) {
	margin-right: 0;
}

.footer-social-list a{	
	display: inline-block;
	color: white;
	border: 1px solid #e1e1e1;
	background-color: #e1e1e1;
	border-radius: 50%;
	font-size: 23px;
	width: 58px;
	height: 43px;
	text-align: center;
	padding-top: 15px; 
	text-decoration: none;
}

.footer-social-list a:hover {
 background-color: #fb565a;
 border-color: #fb565a;
}

.footer-social-list a:active {
	background-color: #d6494d;
	border-color: #d6494d;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
}

.footer-discount {
	display: block;
	float: left;
	width: 545px;
	margin-left: 79px;
	margin-top: 78px;
	margin-bottom: 77px;
}

.footer-title {
	
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 12px 0;
}

.footer-text {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}


/*end-footer*/

